.video_sidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;
}

.video_sidebar_options {
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 440px){
    .video_sidebar{
      top: 46%;
    }
  }