html{
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos{
  height: 99vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  background-color: rgb(119, 92, 240);
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde scrollbar no chrome, safari e opera*/
.app__videos::-webkit-scrollbar{
  display: none;
}

/* Esconde scrollbar no IE e firefox*/
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}